/* src/components/TableStyles.css */

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: sans-serif;
}

.table th,
.table td {
  padding: 0.6em;
  border: 1px solid #dadada;
  text-align: left;
}

.table th {
  background-color: #eaeaea;
}

.device-row {
  background-color: #fafafa;
  font-size: 0.9em;
}